HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/main/resources/images/
!**/src/test/**/build/
/uploads/**
### VS Code ###
.vscode/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
videos
uploads

feature.txt